In [1]:
import pandas as pd
import numpy as np

**Import the data**

In [3]:
offline_test = pd.read_csv("ccf_offline_stage1_test_revised.csv")
offline_train = pd.read_csv("ccf_offline_stage1_train.csv")
online_train = pd.read_csv("ccf_online_stage1_train.csv")

In [5]:
offline_test[:20]

    User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0   4129537          450       9983          30:5       1.0       20160712
1   6949378         1300       3429          30:5       NaN       20160706
2   2166529         7113       6928        200:20       5.0       20160727
3   2166529         7113       1808        100:10       5.0       20160727
4   6172162         7605       6500          30:1       2.0       20160708
5   4005121          450       9983          30:5       0.0       20160706
6   4347394          450       9983          30:5       0.0       20160716
7   3094273          760      13602          30:5       1.0       20160727
8   5139970          450       9983          30:5      10.0       20160729
9   3237121          760      13602          30:5       1.0       20160703
10  6224386          450       9983          30:5       3.0       20160716
11  6488578          760      13602          30:5       0.0       20160712
12  4164865          450       9983          30:5       2.0       20160703
13  4164865         5138       8059         50:10       1.0       20160706
14  5468674          450       9983          30:5       NaN       20160713
15  6258178         7024       9144          10:1       0.0       20160706
16  3659521         6000       7341        150:30       6.0       20160727
17  3659521         2436      13181          20:1       3.0       20160717
18  3659521          760      13602          30:5       0.0       20160718
19  7333378          760      13602          30:5       0.0       20160704

In [6]:
offline_train[:20]

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN

In [7]:
online_train[:20]

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0
5,14336199,18907,0,NaN,NaN,NaN,20160618.0
6,14336199,18907,0,NaN,NaN,NaN,20160618.0
7,14336199,18907,0,NaN,NaN,NaN,20160618.0
8,14336199,18907,0,NaN,NaN,NaN,20160618.0
9,14336199,18907,0,NaN,NaN,NaN,20160618.0
10,14336199,38810,0,NaN,NaN,NaN,20160126.0
11,14336199,38810,0,NaN,NaN,NaN,20160126.0
12,14336199,38810,0,NaN,NaN,NaN,20160126.0
13,14336199,38810,0,NaN,NaN,NaN,20160126.0
14,14336199,18907,0,NaN,NaN,NaN,20160127.0
15,14336199,18907,0,NaN,NaN,NaN,20160127.0
16,14336199,37005,0,NaN,NaN,NaN,20160412.0
17,14336199,14305,0,NaN,NaN,NaN,20160127.0
18,14336199,18907,0,NaN,NaN,NaN,20160618.0
19,10539231,12008,1,NaN,NaN,NaN,20160618.0

**Explore the data sets**

In the offline dataset, "Distance" is a feature that doesn't appear in the online dataset, while "Action" appears in the online dataset but not in the offline dataset.

In [20]:
print(offline_train.columns)
print(online_train.columns)

Index(['User_id', 'Merchant_id', 'Coupon_id', 'Discount_rate', 'Distance',
       'Date_received', 'Date'],
      dtype='object')
Index(['User_id', 'Merchant_id', 'Action', 'Coupon_id', 'Discount_rate',
       'Date_received', 'Date'],
      dtype='object')

In "online_train" there are much more data, not using these data may reduce the performance of our model

In [8]:
print(len(offline_train))
print(len(online_train))

1754884
11429826

In [60]:
r = offline_train.iloc[1,:]
pd.isnull(r['Date'])

True

In [63]:
def add_coupon_stat(df):
    l_coupon_stat = []
    for _, i in df.iterrows():
        if pd.isnull(i['Date']):
            if pd.isnull(i['Coupon_id']):
                l_coupon_stat.append(0)
            else:
                l_coupon_stat.append(3)
        else:
            if pd.isnull(i['Coupon_id']):
                l_coupon_stat.append(2)
            else:
                l_coupon_stat.append(1)
    return df.join(pd.DataFrame(l_coupon_stat, columns=['Coupon_stat']))

add_coupon_stat(offline_train.copy())

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Coupon_stat
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,2
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,3
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,3
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,3
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,3
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0,2
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,1
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,3
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,3
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,3
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN,3
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0,2
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0,2
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN,3
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0,2
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN,3
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN,3
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN,3
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN,3
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN,3
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN,3
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0,2
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN,3
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN,3
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN,3
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN,3
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0,2
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN,3
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0,2
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0,2
...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1.0,20160124.0,NaN,3
1754855,179830,6284,7379.0,50:10,1.0,20160124.0,NaN,3
1754856,179830,3710,13056.0,150:10,4.0,20160124.0,NaN,3
1754857,179830,2099,12034.0,100:10,1.0,20160124.0,NaN,3
1754858,179830,4660,1480.0,100:10,0.0,20160125.0,NaN,3
1754859,179830,5341,7751.0,50:10,0.0,20160123.0,NaN,3
1754860,179830,7555,17.0,30:5,7.0,20160123.0,NaN,3
1754861,179830,760,3237.0,20:5,0.0,20160124.0,NaN,3
1754862,179830,2099,12034.0,100:10,1.0,20160203.0,NaN,3
1754863,343276,4206,NaN,NaN,5.0,NaN,20160425.0,2
1754864,653784,195,NaN,NaN,0.0,NaN,20160418.0,2
1754865,653784,195,NaN,NaN,0.0,NaN,20160416.0,2
1754866,3795296,5341,111.0,30:5,0.0,20160129.0,NaN,3
1754867,188086,6568,NaN,NaN,0.0,NaN,20160415.0,2
1754868,188086,6568,NaN,NaN,0.0,NaN,20160626.0,2
1754869,188086,6568,4723.0,30:1,0.0,20160415.0,NaN,3
1754870,188086,6568,NaN,NaN,0.0,NaN,20160417.0,2
1754871,188086,6568,NaN,NaN,0.0,NaN,20160604.0,2
1754872,212662,3532,NaN,NaN,1.0,NaN,20160308.0,2
1754873,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0,1
1754874,212662,2934,NaN,NaN,2.0,NaN,20160513.0,2
1754875,212662,2934,NaN,NaN,2.0,NaN,20160512.0,2
1754876,212662,3532,5267.0,30:5,1.0,20160322.0,NaN,3
1754877,212662,3021,3739.0,30:1,6.0,20160504.0,20160508.0,1
1754878,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0,1
1754879,212662,3532,NaN,NaN,1.0,NaN,20160322.0,2
1754880,212662,3021,3739.0,30:1,6.0,20160508.0,20160602.0,1
1754881,212662,2934,NaN,NaN,2.0,NaN,20160321.0,2
1754882,752472,7113,1633.0,50:10,6.0,20160613.0,NaN,3
1754883,752472,3621,2705.0,20:5,0.0,20160523.0,NaN,3